In [ ]:
/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/raw_data_tales/地图匹配_0426_v4.csv
/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/MAP241105null_matched_areas_manual check.xlsx
/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/MAP241119match_area_gbcode.xlsx

这是手动check的结果--空着那些是原匹配正确的，？那些是匹配错误且没有找到正确匹配的，剩下是匹配错误并找到正确匹配的

In [30]:
base.head()

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,CITYGB_1990a,CNTYGB_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏撒拉族循化貝,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老汉的宝物,宁夏
1,2,04743__121造过麦山的白土城,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏土族民和县,"{'lng': 102.83639, 'lat': 36.325561}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,造过麦山的白土城,宁夏
2,3,05119__496伊斯玛悔过,林昌林,missing valuesd,missing valuesd,missing valuesd,宁夏回族西宁市,"{'lng': 101.78445, 'lat': 36.623385}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,伊斯玛悔过,宁夏
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,宁夏土族互助县,"{'lng': 101.964569, 'lat': 36.850022}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,三姊妹,宁夏
4,5,04849__225老鼠的智慧,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏藏抜同仁县,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老鼠的智慧,宁夏

In [71]:
import pandas as pd

# 读取CSV文件
csv_file = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/raw_data_tales/地图匹配_0426_v4.csv'
base = pd.read_csv(csv_file)

# 读取第一个Excel文件
excel_file1 = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/MAP241105null_matched_areas_manual check.xlsx'
excel_data_manual = pd.read_excel(excel_file1)  # sheet_name=None会读取所有sheet

In [72]:
excel_data_manual = excel_data_manual[excel_data_manual['？'].isna()]

In [43]:
county1953.head()

,PROVGB,CITYGB,CNTYGB,CPROV,EPROV,CCNTY,ECNTY,A53001,A53002
0,71,7100,710000,台湾,Taiwan,台湾,Taiwan,0.0,0.0
1,44,4460,446020,广东,Guangdong,珠海县,Zhuhai Xian,27523.0,126146.0
2,44,4490,449039,广东,Guangdong,南沙群岛,Nansha Qun Dao,0.0,0.0
3,44,4490,449037,广东,Guangdong,西沙群岛,Xisha Qun Dao,0.0,0.0
4,44,4490,449038,广东,Guangdong,中沙群岛,Zhongsha Qun Dao,0.0,0.0

In [58]:
county1953

,PROVGB,CITYGB,CNTYGB,CPROV,EPROV,CCNTY,ECNTY,A53001,A53002,combined_area
0,71,7100,710000,台湾,Taiwan,台湾,Taiwan,0.0,0.0,台湾台湾
1,44,4460,446020,广东,Guangdong,珠海县,Zhuhai Xian,27523.0,126146.0,广东珠海县
2,44,4490,449039,广东,Guangdong,南沙群岛,Nansha Qun Dao,0.0,0.0,广东南沙群岛
3,44,4490,449037,广东,Guangdong,西沙群岛,Xisha Qun Dao,0.0,0.0,广东西沙群岛
4,44,4490,449038,广东,Guangdong,中沙群岛,Zhongsha Qun Dao,0.0,0.0,广东中沙群岛
...,...,...,...,...,...,...,...,...,...,...
2294,85,8504,850432,西康,Xikang,喜德县,Xide Xian,16435.0,75495.0,西康喜德县
2295,85,8504,850434,西康,Xikang,普雄县,Puxiong Xian,24000.0,120000.0,西康普雄县
2296,85,8504,850436,西康,Xikang,美姑县,Meigu Xian,24818.0,124091.0,西康美姑县
2297,85,8505,850500,西康,Xikang,色达地区,Seda Diqu,6000.0,30000.0,西康色达地区
2298,44,4460,446001,广东,Guangdong,新会县,Xinhui Xian,162057.0,550661.0,广东新会县

In [53]:
excel_data_manual

,name,original_area,matched_area,similarity,？,PROVGB,CITYGB,CNTYGB,CPROV,EPROV,CCNTY
66,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,北京东城区,36,NaN,35.0,3520.0,352023.0,福建,Fujian,光泽县
75,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,甘肃合作市,36,NaN,35.0,3505.0,350541.0,福建,Fujian,莆田县
96,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京北京市,36,NaN,35.0,3509.0,350921.0,福建,Fujian,霞浦县
124,02500__491智灭鸦片苗,吉林明溪其,福建明溪县,40,NaN,35.0,3505.0,350540.0,福建,Fujian,仙游县
182,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,河南郊区,45,NaN,35.0,3507.0,350721.0,福建,Fujian,顺昌县
...,...,...,...,...,...,...,...,...,...,...,...
3343,11298__586找糊纸人,河南灵宝市,河南灵宝市,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3344,10978__251获嘉饴馋,河南获嘉县,河南获嘉县,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3345,10854__117李自成自责斩盔,河南灵宝市,河南灵宝市,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3346,03962__343六十岁活埋,天津宁河县,天津宁河县,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3347,10946__214没脸牌坊,河南新野县,河南新野县,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# 2. 定义一个函数来处理每个表的合并操作
def merge_and_rename(county_df, year):
    # 合并 'CPROV' 和 'CCNTY' 列，创建 'combined_area' 列
    county_df['combined_area'] = county_df['CPROV'] + county_df['CCNTY']
    
    # 进行合并操作
    merged_df = pd.merge(excel_data_manual, county_df[['combined_area', 'PROVGB', 'CITYGB', 'CNTYGB', 'CPROV', 'EPROV', 'CCNTY']],
                         left_on='matched_area', right_on='combined_area', how='left')
    
    # 重命名列
    merged_df.rename(columns={
        'PROVGB': f'PROVGB_{year}',
        'CITYGB': f'CITYGB_{year}',
        'CNTYGB': f'CNTYGB_{year}',
        'CPROV': f'CPROV_{year}',
        'EPROV': f'EPROV_{year}',
        'CCNTY': f'CCNTY_{year}'
    }, inplace=True)
    
    return merged_df

# 3. 对每个表进行处理，注意1990a的后缀使用1990a
merged_1953 = merge_and_rename(county1953, 1953)
merged_1964 = merge_and_rename(county1964, 1964)
merged_1982 = merge_and_rename(county1982, 1982)
merged_1990a = merge_and_rename(county1990a, '1990a')  # 使用 '1990a' 作为后缀
merged_2000 = merge_and_rename(county2000, 2000)

# 4. 合并所有结果到一个 DataFrame
final_merged_df = pd.concat([merged_1953, merged_1964[['matched_area'] + [col for col in merged_1964.columns if col != 'matched_area']],
                              merged_1982[['matched_area'] + [col for col in merged_1982.columns if col != 'matched_area']],
                              merged_1990a[['matched_area'] + [col for col in merged_1990a.columns if col != 'matched_area']],
                              merged_2000[['matched_area'] + [col for col in merged_2000.columns if col != 'matched_area']]],
                             axis=1)
final_merged_df.head()

,name,original_area,matched_area,similarity,？,combined_area,PROVGB_1953,CITYGB_1953,CNTYGB_1953,CPROV_1953,...,original_area,similarity,？,combined_area,PROVGB_2000,CITYGB_2000,CNTYGB_2000,CPROV_2000,EPROV_2000,CCNTY_2000
0,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,北京东城区,36,NaN,NaN,NaN,NaN,NaN,NaN,...,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,36,NaN,北京东城区,11.0,1101.0,110101.0,北京,Beijing,东城区
1,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,甘肃合作市,36,NaN,NaN,NaN,NaN,NaN,NaN,...,吉林炊食合作总店,36,NaN,甘肃合作市,62.0,6230.0,623001.0,甘肃,Gansu,合作市
2,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京北京市,36,NaN,北京北京市,11.0,1100.0,110000.0,北京,...,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02500__491智灭鸦片苗,吉林明溪其,福建明溪县,40,NaN,福建明溪县,35.0,3504.0,350421.0,福建,...,吉林明溪其,40,NaN,福建明溪县,35.0,3504.0,350421.0,福建,Fujian,明溪县
4,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,河南郊区,45,NaN,NaN,NaN,NaN,NaN,NaN,...,河南说香岩寺①是为纪念香岩和尚修的,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
final_merged_df = final_merged_df.loc[:, ~final_merged_df.columns.duplicated()]

# 7. 显示 final_merged_df 的所有列名（确认结果）
print(final_merged_df.columns.tolist())

['name', 'original_area', '？', 'score', 'county', 'combined_area', 'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'CPROV_1953', 'EPROV_1953', 'CCNTY_1953', 'PROVGB_1964', 'CITYGB_1964', 'CNTYGB_1964', 'CPROV_1964', 'EPROV_1964', 'CCNTY_1964', 'PROVGB_1982', 'CITYGB_1982', 'CNTYGB_1982', 'CPROV_1982', 'EPROV_1982', 'CCNTY_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a', 'CPROV_1990a', 'EPROV_1990a', 'CCNTY_1990a', 'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000', 'CPROV_2000', 'EPROV_2000', 'CCNTY_2000']

In [92]:
final_merged_df.columns.tolist()

['name',
 'original_area',
 '？',
 'score',
 'county',
 'combined_area',
 'PROVGB_1953',
 'CITYGB_1953',
 'CNTYGB_1953',
 'CPROV_1953',
 'EPROV_1953',
 'CCNTY_1953',
 'PROVGB_1964',
 'CITYGB_1964',
 'CNTYGB_1964',
 'CPROV_1964',
 'EPROV_1964',
 'CCNTY_1964',
 'PROVGB_1982',
 'CITYGB_1982',
 'CNTYGB_1982',
 'CPROV_1982',
 'EPROV_1982',
 'CCNTY_1982',
 'PROVGB_1990a',
 'CITYGB_1990a',
 'CNTYGB_1990a',
 'CPROV_1990a',
 'EPROV_1990a',
 'CCNTY_1990a',
 'PROVGB_2000',
 'CITYGB_2000',
 'CNTYGB_2000',
 'CPROV_2000',
 'EPROV_2000',
 'CCNTY_2000']

In [76]:
final_merged_df

,name,original_area,matched_area,similarity,？,combined_area,PROVGB_1953,CITYGB_1953,CNTYGB_1953,CPROV_1953,...,CNTYGB_1990a,CPROV_1990a,EPROV_1990a,CCNTY_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,CPROV_2000,EPROV_2000,CCNTY_2000
0,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,北京东城区,36,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.0,1101.0,110101.0,北京,Beijing,东城区
1,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,甘肃合作市,36,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62.0,6230.0,623001.0,甘肃,Gansu,合作市
2,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京北京市,36,NaN,北京北京市,11.0,1100.0,110000.0,北京,...,110100.0,北京,Beijing,北京市,NaN,NaN,NaN,NaN,NaN,NaN
3,02500__491智灭鸦片苗,吉林明溪其,福建明溪县,40,NaN,福建明溪县,35.0,3504.0,350421.0,福建,...,350421.0,福建,Fujian,明溪县,35.0,3504.0,350421.0,福建,Fujian,明溪县
4,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,河南郊区,45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630,11298__586找糊纸人,河南灵宝市,河南灵宝市,100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,10978__251获嘉饴馋,河南获嘉县,河南获嘉县,100,NaN,河南获嘉县,41.0,4107.0,410724.0,河南,...,410724.0,河南,Henan,获嘉县,NaN,NaN,NaN,NaN,NaN,NaN
1632,10854__117李自成自责斩盔,河南灵宝市,河南灵宝市,100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,03962__343六十岁活埋,天津宁河县,天津宁河县,100,NaN,NaN,NaN,NaN,NaN,NaN,...,120221.0,天津,Tianjin,宁河县,12.0,1202.0,120221.0,天津,Tianjin,宁河县
1634,10946__214没脸牌坊,河南新野县,河南新野县,100,NaN,河南新野县,41.0,4113.0,411329.0,河南,...,411329.0,河南,Henan,新野县,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
final_merged_df.to_excel("/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127map_final_match_manual.xlsx", index=False)

In [49]:
excel_data_manual.head()

,name,original_area,matched_area,similarity,？,PROVGB,CITYGB,CNTYGB,CPROV,EPROV,CCNTY
66,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,北京东城区,36,NaN,35.0,3520.0,352023.0,福建,Fujian,光泽县
75,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,甘肃合作市,36,NaN,35.0,3505.0,350541.0,福建,Fujian,莆田县
96,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京北京市,36,NaN,35.0,3509.0,350921.0,福建,Fujian,霞浦县
124,02500__491智灭鸦片苗,吉林明溪其,福建明溪县,40,NaN,35.0,3505.0,350540.0,福建,Fujian,仙游县
182,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,河南郊区,45,NaN,35.0,3507.0,350721.0,福建,Fujian,顺昌县

In [34]:
unique_values = county1953['CPROV'].unique()
unique_values

array(['台湾', '广东', '北京', '天津', '河北', '山西', '内蒙古', '热河', '辽宁', '吉林', '黑龙江',
       '上海', '江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广西',
       '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '青海', '新疆', '香港', '澳门', '西康'],
      dtype=object)

In [41]:
def remove_unique_values(text, unique_values):
    if isinstance(text, str):  # 确保是字符串类型
        for value in unique_values:
            text = text.replace(value, '', 1)  # 只替换第一次出现的 value
    return text

# 应用这个函数到 matched_area 列
excel_data_manual['matched_area'] = excel_data_manual['matched_area'].apply(remove_unique_values, unique_values=unique_values)

In [42]:
excel_data_manual.head()

,name,original_area,matched_area,similarity,？
66,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,东城区,36,NaN
75,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,合作市,36,NaN
96,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京市,36,NaN
124,02500__491智灭鸦片苗,吉林明溪其,明溪县,40,NaN
182,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,郊区,45,NaN

In [26]:
import pandas as pd
from openpyxl import load_workbook

# 读取第二个 Excel 文件
excel_file2 = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/MAP241119match_area_gbcode.xlsx'

# 使用 openpyxl 读取 Excel 文件
wb = load_workbook(excel_file2, data_only=True)  # data_only=True 表示读取计算后的值，而不是公式
sheet = wb.active  # 默认读取第一个 sheet，你可以根据需要更改为其他 sheet

# 使用 pandas 读取数据
excel_data_third = pd.read_excel(excel_file2)

# 获取 "name" 列的索引
name_column_index = excel_data_third.columns.get_loc('name')

# 创建一个新的空列表，用于存储 "correct" 列的值
correct_column = []

# 遍历 "name" 列，判断每个单元格是否有底色
for row in range(2, sheet.max_row + 1):  # 从第2行开始，因为通常第1行是标题
    cell = sheet.cell(row=row, column=name_column_index + 1)  # openpyxl索引从1开始
    fill = cell.fill
    # 判断是否有底色，并将结果添加到列表
    if fill.start_color.index != '00000000':  # '00000000' 表示没有填充颜色
        correct_column.append(True)  # 有底色
    else:
        correct_column.append(False)  # 没有底色

# 将 "correct" 列添加到 DataFrame 中
excel_data_third['correct'] = correct_column

In [28]:
excel_data_third = excel_data_third[excel_data_third['correct']]

In [29]:
excel_data_third.head()

,name,original_area,matched_area,similarity,？,matched_value,match_score,county1953_matched_value,county1953_match_score,county1964_matched_value,county1964_match_score,county1982_matched_value,county1982_match_score,county1990a_matched_value,county1990a_match_score,county2000_matched_value,county2000_match_score,correct
7,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,四川长宁县,36,重庆巫峡县,1953_四川重庆市,50,1953_四川重庆市,50,1964_四川重庆市,50,1982_四川重庆市,50,1990_四川重庆市,50,1990_四川重庆市,50,True
15,03556__933W射金銮,四川下块具,四川安县,44,四川珙县,1953_四川珙县,100,1953_四川珙县,100,1964_四川珙县,100,1982_四川珙县,100,1990_四川珙县,100,1990_四川珙县,100,True
16,04688__065少年英雄格萨尔,宁夏藏族玉树州,宁夏郊区,45,青海藏族玉树州,1953_青海玉树县,67,1953_青海玉树县,67,1964_青海玉树县,67,1982_青海玉树县,67,1990_青海玉树县,67,1990_青海玉树县,67,True
17,04852__228青蛙和老狼,宁夏藏族玉树州,宁夏郊区,45,青海藏族玉树州,1953_青海玉树县,67,1953_青海玉树县,67,1964_青海玉树县,67,1982_青海玉树县,67,1990_青海玉树县,67,1990_青海玉树县,67,True
18,04946__322老汉的宝物,宁夏撒拉族循化貝,宁夏郊区,45,青海循化县,1953_青海循化县撒拉族自治,100,1953_青海循化县撒拉族自治,100,1964_青海循化撒拉族自治县,80,1982_青海循化县,100,1990_青海循化县,100,1990_青海循化县,100,True

In [5]:
base.head()

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,CITYGB_1990a,CNTYGB_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏撒拉族循化貝,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老汉的宝物,宁夏
1,2,04743__121造过麦山的白土城,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏土族民和县,"{'lng': 102.83639, 'lat': 36.325561}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,造过麦山的白土城,宁夏
2,3,05119__496伊斯玛悔过,林昌林,missing valuesd,missing valuesd,missing valuesd,宁夏回族西宁市,"{'lng': 101.78445, 'lat': 36.623385}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,伊斯玛悔过,宁夏
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,宁夏土族互助县,"{'lng': 101.964569, 'lat': 36.850022}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,三姊妹,宁夏
4,5,04849__225老鼠的智慧,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏藏抜同仁县,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老鼠的智慧,宁夏

In [12]:
excel_data_manual.head()

,name,original_area,matched_area,similarity,？
0,02560__553-寡妇改嫁,吉林时候汉族地区的寡妇是要守寡一世不能改嫁的有个汉人寡妇年纪轻轻的要改嫁本家族长就是不肯依这...,台湾金门县,24,？
1,02561__554巧计定是非,吉林去畲家人盖房子做衣服红白喜庆什么都靠本族人做有自己的木匠铁匠也有自己的看病先生自己寻找草...,重庆丰都县,24,？
2,02404__391飞去。,吉林这样素贞化成了一只体态娇小羽毛灰白黑相间的鸟儿像披着一身朴素的孝衣这鸟儿越过高山越过河流...,云南宜良县,24,？
3,00349__352黄花鱼和鳖鱼,上海早很早以前黄花鱼就是海里的游泳能手黄花鱼啥都好就是有点骄傲它自称是海里游泳第一其实呢比它...,广东花都区,24,？
4,00280__283黄浦江,上海久很久以前上海还是一片荒凉的沼泽地沼泽地当中弯弯曲曲有一条河流河床很浅雨水多了泛滥成灾雨...,青海久治县,24,？

In [79]:
excel_data_third.to_excel("/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127map_secondary_match_third.xlsx", index=False)

In [78]:
excel_data_third.head()

,name,original_area,matched_area,similarity,？,matched_value,match_score,county1953_matched_value,county1953_match_score,county1964_matched_value,county1964_match_score,county1982_matched_value,county1982_match_score,county1990a_matched_value,county1990a_match_score,county2000_matched_value,county2000_match_score,correct
7,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,四川长宁县,36,重庆巫峡县,1953_四川重庆市,50,1953_四川重庆市,50,1964_四川重庆市,50,1982_四川重庆市,50,1990_四川重庆市,50,1990_四川重庆市,50,True
15,03556__933W射金銮,四川下块具,四川安县,44,四川珙县,1953_四川珙县,100,1953_四川珙县,100,1964_四川珙县,100,1982_四川珙县,100,1990_四川珙县,100,1990_四川珙县,100,True
16,04688__065少年英雄格萨尔,宁夏藏族玉树州,宁夏郊区,45,青海藏族玉树州,1953_青海玉树县,67,1953_青海玉树县,67,1964_青海玉树县,67,1982_青海玉树县,67,1990_青海玉树县,67,1990_青海玉树县,67,True
17,04852__228青蛙和老狼,宁夏藏族玉树州,宁夏郊区,45,青海藏族玉树州,1953_青海玉树县,67,1953_青海玉树县,67,1964_青海玉树县,67,1982_青海玉树县,67,1990_青海玉树县,67,1990_青海玉树县,67,True
18,04946__322老汉的宝物,宁夏撒拉族循化貝,宁夏郊区,45,青海循化县,1953_青海循化县撒拉族自治,100,1953_青海循化县撒拉族自治,100,1964_青海循化撒拉族自治县,80,1982_青海循化县,100,1990_青海循化县,100,1990_青海循化县,100,True

In [32]:
county1953 = pd.read_excel('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/国标码/county1953.xls')
county1964 = pd.read_excel('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/国标码/county1964.xls')
county1982 = pd.read_excel('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/国标码/County1982.xls')
county1990a = pd.read_excel('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/国标码/County1990a.xls')
county2000 = pd.read_excel('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/国标码/County2000.xls')

In [83]:
import pandas as pd

# 文件路径
file_path = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127map_secondary_match_third.xlsx'

# 使用 pandas 读取 Excel 文件
df = pd.read_excel(file_path)

In [84]:
# 1. 找到所有包含 'match_score' 的列名
score_columns = [col for col in df.columns if 'match_score' in col]

# 2. 新增列 'score' 为最大值
df['score'] = df[score_columns].max(axis=1)

# 3. 根据最大分数所在列的索引，找到相应的 'matched_value' 列
for idx, row in df.iterrows():
    max_score_col = row[score_columns].idxmax()  # 获取最大分数所在的列名
    matched_value_col = max_score_col.replace('match_score', 'matched_value')  # 找到对应的 'matched_value' 列名
    df.at[idx, 'county'] = row[matched_value_col]  # 设置 'county' 列为对应的 'matched_value'

In [85]:
df.head()

,name,original_area,？,county1953_matched_value,county1953_match_score,county1964_matched_value,county1964_match_score,county1982_matched_value,county1982_match_score,county1990a_matched_value,county1990a_match_score,county2000_matched_value,county2000_match_score,correct,score,county
0,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,重庆巫峡县,1953_四川重庆市,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,1953_四川重庆市
1,03556__933W射金銮,四川下块具,四川珙县,1953_四川珙县,100.0,1964_四川珙县,100.0,1982_四川珙县,100.0,1990_四川珙县,100.0,1990_四川珙县,100.0,1.0,100.0,1953_四川珙县
2,04688__065少年英雄格萨尔,宁夏藏族玉树州,青海藏族玉树州,1953_青海玉树县,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,1953_青海玉树县
3,04852__228青蛙和老狼,宁夏藏族玉树州,青海藏族玉树州,1953_青海玉树县,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,1953_青海玉树县
4,04946__322老汉的宝物,宁夏撒拉族循化貝,青海循化县,1953_青海循化县撒拉族自治,100.0,1964_青海循化撒拉族自治县,80.0,1982_青海循化县,100.0,1990_青海循化县,100.0,1990_青海循化县,100.0,1.0,100.0,1953_青海循化县撒拉族自治

In [ ]:
# 要删除的列名
columns_to_delete = [
    'county1953_matched_value', 'county1953_match_score',
    'county1964_matched_value', 'county1964_match_score',
    'county1982_matched_value', 'county1982_match_score',
    'county1990a_matched_value', 'county1990a_match_score',
    'county2000_matched_value', 'county2000_match_score',
    'correct'
]

# 删除指定列
df = df.drop(columns=columns_to_delete)

,name,original_area,？,score,county
0,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,重庆巫峡县,50.0,1953_四川重庆市
1,03556__933W射金銮,四川下块具,四川珙县,100.0,1953_四川珙县
2,04688__065少年英雄格萨尔,宁夏藏族玉树州,青海藏族玉树州,67.0,1953_青海玉树县
3,04852__228青蛙和老狼,宁夏藏族玉树州,青海藏族玉树州,67.0,1953_青海玉树县
4,04946__322老汉的宝物,宁夏撒拉族循化貝,青海循化县,100.0,1953_青海循化县撒拉族自治

In [90]:
# 2. 定义一个函数来处理每个表的合并操作
def merge_and_rename(county_df, year):
    # 合并 'CPROV' 和 'CCNTY' 列，创建 'combined_area' 列
    county_df['combined_area'] = county_df['CPROV'] + county_df['CCNTY']
    
    # 进行合并操作
    merged_df = pd.merge(df, county_df[['combined_area', 'PROVGB', 'CITYGB', 'CNTYGB', 'CPROV', 'EPROV', 'CCNTY']],
                         left_on='county', right_on='combined_area', how='left')
    
    # 重命名列
    merged_df.rename(columns={
        'PROVGB': f'PROVGB_{year}',
        'CITYGB': f'CITYGB_{year}',
        'CNTYGB': f'CNTYGB_{year}',
        'CPROV': f'CPROV_{year}',
        'EPROV': f'EPROV_{year}',
        'CCNTY': f'CCNTY_{year}'
    }, inplace=True)
    
    return merged_df

# 3. 对每个表进行处理，注意1990a的后缀使用1990a
merged_1953 = merge_and_rename(county1953, 1953)
merged_1964 = merge_and_rename(county1964, 1964)
merged_1982 = merge_and_rename(county1982, 1982)
merged_1990a = merge_and_rename(county1990a, '1990a')  # 使用 '1990a' 作为后缀
merged_2000 = merge_and_rename(county2000, 2000)

# 4. 合并所有结果到一个 DataFrame
final_merged_df = pd.concat([merged_1953, merged_1964[['county'] + [col for col in merged_1964.columns if col != 'matched_area']],
                              merged_1982[['county'] + [col for col in merged_1982.columns if col != 'matched_area']],
                              merged_1990a[['county'] + [col for col in merged_1990a.columns if col != 'matched_area']],
                              merged_2000[['county'] + [col for col in merged_2000.columns if col != 'matched_area']]],
                             axis=1)
final_merged_df.head()

,name,original_area,？,score,county,combined_area,PROVGB_1953,CITYGB_1953,CNTYGB_1953,CPROV_1953,...,？,score,county,combined_area,PROVGB_2000,CITYGB_2000,CNTYGB_2000,CPROV_2000,EPROV_2000,CCNTY_2000
0,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,重庆巫峡县,50.0,四川重庆市,四川重庆市,51.0,5140.0,514002.0,四川,...,重庆巫峡县,50.0,四川重庆市,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03556__933W射金銮,四川下块具,四川珙县,100.0,四川珙县,四川珙县,51.0,5115.0,511526.0,四川,...,四川珙县,100.0,四川珙县,四川珙县,51.0,5115.0,511526.0,四川,Sichuan,珙县
2,04688__065少年英雄格萨尔,宁夏藏族玉树州,青海藏族玉树州,67.0,青海玉树县,青海玉树县,63.0,6327.0,632721.0,青海,...,青海藏族玉树州,67.0,青海玉树县,青海玉树县,63.0,6327.0,632721.0,青海,Qinghai,玉树县
3,04852__228青蛙和老狼,宁夏藏族玉树州,青海藏族玉树州,67.0,青海玉树县,青海玉树县,63.0,6327.0,632721.0,青海,...,青海藏族玉树州,67.0,青海玉树县,青海玉树县,63.0,6327.0,632721.0,青海,Qinghai,玉树县
4,04946__322老汉的宝物,宁夏撒拉族循化貝,青海循化县,100.0,青海循化县撒拉族自治,青海循化县撒拉族自治,63.0,6301.0,630144.0,青海,...,青海循化县,100.0,青海循化县撒拉族自治,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df['county'] = df['county'].str[5:]
df.head()

,name,original_area,？,score,county
0,02857__253仙女撒网,四川上大宁河东坪坝北岸的高山上向F头河里望去只见有一个大沙洲这个沙洲叫琵琶洲三面临水一面挨山...,重庆巫峡县,50.0,四川重庆市
1,03556__933W射金銮,四川下块具,四川珙县,100.0,四川珙县
2,04688__065少年英雄格萨尔,宁夏藏族玉树州,青海藏族玉树州,67.0,青海玉树县
3,04852__228青蛙和老狼,宁夏藏族玉树州,青海藏族玉树州,67.0,青海玉树县
4,04946__322老汉的宝物,宁夏撒拉族循化貝,青海循化县,100.0,青海循化县撒拉族自治

In [126]:
final_df.to_excel("/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127地图匹配_v5.xlsx", index=False)

In [120]:
final_df['citygb'].isna().sum()

0

In [125]:
(final_df['citygb'] == 'missing valuesd').sum()

4779

In [124]:
final_df.columns

Index(['rowid', 'name', 'cailu', 'provgb', 'citygb', 'cntygb', 'area',
       'geocode', 'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'PROVGB_1964',
       'CITYGB_1964', 'CNTYGB_1964', 'PROVGB_1982', 'CITYGB_1982',
       'CNTYGB_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a',
       'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000', 'PROVGB_2010',
       'CITYGB_2010', 'CNTYGB_2010', 'new_name', 'area_group'],
      dtype='object')

In [128]:
final_df=pd.read_csv('/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/raw_data_tales/地图匹配_0426_v4.csv')

In [129]:
# 要检查的列列表
columns_to_check = [
    'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'PROVGB_1964', 'CITYGB_1964', 'CNTYGB_1964',
    'PROVGB_1982', 'CITYGB_1982', 'CNTYGB_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a',
    'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000', 'PROVGB_2010', 'CITYGB_2010', 'CNTYGB_2010'
]

# 判断这些列是否全是空值（NaN）
empty_rows_count = final_df[columns_to_check].isna().all(axis=1).sum()

# 打印结果
print(f"全是空值的行数: {empty_rows_count}")

全是空值的行数: 3348

In [123]:
# 使用 apply 和 lambda 函数来替换 provgb, citygb, cntygb 列的值
final_df['provgb'] = final_df.apply(
    lambda row: row['PROVGB_1982'] if pd.notna(row['PROVGB_1982']) else row['provgb'], axis=1
)

final_df['citygb'] = final_df.apply(
    lambda row: row['CITYGB_1982'] if pd.notna(row['CITYGB_1982']) else row['citygb'], axis=1
)

final_df['cntygb'] = final_df.apply(
    lambda row: row['CNTYGB_1982'] if pd.notna(row['CNTYGB_1982']) else row['cntygb'], axis=1
)

/var/folders/w5/_ylk19595zl7_649y60st5680000gn/T/ipykernel_36961/637898689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['provgb'] = final_df.apply(
/var/folders/w5/_ylk19595zl7_649y60st5680000gn/T/ipykernel_36961/637898689.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['citygb'] = final_df.apply(
/var/folders/w5/_ylk19595zl7_649y60st5680000gn/T/ipykernel_36961/637898689.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['cntygb'] = final_df.apply(

In [110]:
import pandas as pd
# 读取CSV文件
csv_file = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/data/raw_data_tales/地图匹配_0426_v4.csv'
base = pd.read_csv(csv_file)

file1 = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127map_final_match_third.xlsx'
df1 = pd.read_excel(file1)
file2 = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241127map_final_match_manual.xlsx'
df2 = pd.read_excel(file2)

In [105]:
df2.head()

,name,original_area,matched_area,similarity,？,combined_area,PROVGB_1953,CITYGB_1953,CNTYGB_1953,CPROV_1953,...,CNTYGB_1990a,CPROV_1990a,EPROV_1990a,CCNTY_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,CPROV_2000,EPROV_2000,CCNTY_2000
0,01701__286八臂哪吒城,北京人都说北京城是个八臂哪吒城人人都说只有八瞥勇哪叱才能镇服得了苦海幽州的龙北京城究竟怎么样...,北京东城区,36,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.0,1101.0,110101.0,北京,Beijing,东城区
1,16914_104虎牛沟和卧虎沟.txt,吉林炊食合作总店,甘肃合作市,36,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62.0,6230.0,623001.0,甘肃,Gansu,合作市
2,01707__292天安门前的石狮子,北京京的天安门是没人不知道的伟大建筑物吧天安门的历史天安门的建筑说故郸的人不去说它了咱们单说...,北京北京市,36,NaN,北京北京市,11.0,1100.0,110000.0,北京,...,110100.0,北京,Beijing,北京市,NaN,NaN,NaN,NaN,NaN,NaN
3,02500__491智灭鸦片苗,吉林明溪其,福建明溪县,40,NaN,福建明溪县,35.0,3504.0,350421.0,福建,...,350421.0,福建,Fujian,明溪县,35.0,3504.0,350421.0,福建,Fujian,明溪县
4,10927__195香岩寺,河南说香岩寺①是为纪念香岩和尚修的,河南郊区,45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
# 查看 df1 的所有列名
print(df2.columns)

Index(['name', 'original_area', 'matched_area', 'similarity', '？',
       'combined_area', 'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953',
       'CPROV_1953', 'EPROV_1953', 'CCNTY_1953', 'PROVGB_1964', 'CITYGB_1964',
       'CNTYGB_1964', 'CPROV_1964', 'EPROV_1964', 'CCNTY_1964', 'PROVGB_1982',
       'CITYGB_1982', 'CNTYGB_1982', 'CPROV_1982', 'EPROV_1982', 'CCNTY_1982',
       'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a', 'CPROV_1990a',
       'EPROV_1990a', 'CCNTY_1990a', 'PROVGB_2000', 'CITYGB_2000',
       'CNTYGB_2000', 'CPROV_2000', 'EPROV_2000', 'CCNTY_2000'],
      dtype='object')

In [112]:
print(base.columns)

Index(['rowid', 'name', 'cailu', 'provgb', 'citygb', 'cntygb', 'area',
       'geocode', 'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'PROVGB_1964',
       'CITYGB_1964', 'CNTYGB_1964', 'PROVGB_1982', 'CITYGB_1982',
       'CNTYGB_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a',
       'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000', 'PROVGB_2010',
       'CITYGB_2010', 'CNTYGB_2010', 'new_name', 'area_group'],
      dtype='object')

In [115]:
base = final_df
merged_df = pd.merge(base, df2[['name', 'matched_area'] + [
    'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'PROVGB_1964',
       'CITYGB_1964', 'CNTYGB_1964', 'PROVGB_1982', 'CITYGB_1982',
       'CNTYGB_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a',
       'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000'
]], on='name', how='left')

# 将 df1 的 '?' 列的值填充到 base 表的 'area' 列
merged_df['area'] = merged_df.apply(
    lambda row: row['matched_area'] if pd.notna(row['matched_area']) else row['area'], axis=1)

# 现在填充相关列
for col in [
    'PROVGB_1953', 'CITYGB_1953', 'CNTYGB_1953', 'PROVGB_1964',
       'CITYGB_1964', 'CNTYGB_1964', 'PROVGB_1982', 'CITYGB_1982',
       'CNTYGB_1982', 'PROVGB_1990a', 'CITYGB_1990a', 'CNTYGB_1990a',
       'PROVGB_2000', 'CITYGB_2000', 'CNTYGB_2000'
]:
    merged_df[col] = merged_df[col + '_y'].combine_first(merged_df[col + '_x'])

# 选择需要的列
final_df = merged_df[base.columns]  # 确保最终的列顺序与 base 表一致

In [107]:
final_df[final_df['name'] == "01701__286八臂哪吒城"]

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,CITYGB_1990a,CNTYGB_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group
2511,2512,01701__286八臂哪吒城,金受中,missing valuesd,missing valuesd,missing valuesd,北京东城区,"{'lng': 116.445913, 'lat': 40.036008}",NaN,NaN,...,NaN,NaN,11.0,1101.0,110101.0,NaN,NaN,NaN,八臂哪吒城,北京

In [102]:
final_df

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,CITYGB_1990a,CNTYGB_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,青海循化县,"{'lng': 116.413384, 'lat': 39.910925}",63.0,6301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老汉的宝物,宁夏
1,2,04743__121造过麦山的白土城,missing values,missing valuesd,missing valuesd,missing valuesd,青海民和县,"{'lng': 102.83639, 'lat': 36.325561}",63.0,6301.0,...,6321.0,632122.0,NaN,NaN,NaN,NaN,NaN,NaN,造过麦山的白土城,宁夏
2,3,05119__496伊斯玛悔过,林昌林,missing valuesd,missing valuesd,missing valuesd,青海西宁市,"{'lng': 101.78445, 'lat': 36.623385}",63.0,6301.0,...,6301.0,630100.0,NaN,NaN,NaN,NaN,NaN,NaN,伊斯玛悔过,宁夏
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,青海互助县,"{'lng': 101.964569, 'lat': 36.850022}",63.0,6301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,三姊妹,宁夏
4,5,04849__225老鼠的智慧,missing values,missing valuesd,missing valuesd,missing valuesd,青海同仁县,"{'lng': 116.413384, 'lat': 39.910925}",63.0,6323.0,...,6323.0,632321.0,63.0,6323.0,632321.0,NaN,NaN,NaN,老鼠的智慧,宁夏
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17258,17259,17040_252牛虎兄弟和大灰狼.txt,r更映月女23岁汉族燃样大手毕止,missing values,missing values,missing values,NaN,missing values,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,吉林
17259,17260,16886_071李子.txt,NaN,missing values,missing values,missing values,NaN,missing values,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,吉林
17260,17261,17073_291桃花仙子.txt,堡镇偏脸城甘农氏不识字 8杨彤歧男24罗汉族于部大专半业 采录时间 1952年5月（1988...,missing values,missing values,missing values,NaN,missing values,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,吉林
17261,17262,16901_091五台山.txt,于中源S 29罗汉袂救即大学毕业,missing values,missing values,missing values,NaN,missing values,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,吉林
17262,17263,16988_190狼毒活不过五六月.txt,傅施臣方49岁汉旗佬安县干部,missing values,missing values,missing values,NaN,missing values,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,吉林

In [95]:
base.head()

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,CITYGB_1990a,CNTYGB_1990a,PROVGB_2000,CITYGB_2000,CNTYGB_2000,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏撒拉族循化貝,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老汉的宝物,宁夏
1,2,04743__121造过麦山的白土城,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏土族民和县,"{'lng': 102.83639, 'lat': 36.325561}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,造过麦山的白土城,宁夏
2,3,05119__496伊斯玛悔过,林昌林,missing valuesd,missing valuesd,missing valuesd,宁夏回族西宁市,"{'lng': 101.78445, 'lat': 36.623385}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,伊斯玛悔过,宁夏
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,宁夏土族互助县,"{'lng': 101.964569, 'lat': 36.850022}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,三姊妹,宁夏
4,5,04849__225老鼠的智慧,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏藏抜同仁县,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,老鼠的智慧,宁夏